header {
  height: 10vh;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 3px #171919 solid;
}

.header__content {
  width: 100%;
  padding: 0px 2.5%;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  clear: both;
  flex-wrap: wrap;
  background: #f0f0f0;
  justify-content: space-between;
  transition: all 0.4s;
  flex-direction: row;
}

.header__logo {
  max-width: 200px;
}

.header__logo img {
  width: 100%;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__search {
  margin-right: 15px;
}

.header__search div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.header__search div input {
  background-color: #ffffff;
  padding: 7px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  max-width: 150px;
  width: 90%;
  margin-right: 8px;
  border: 1px #d0d0d0 solid;
}

.header__search div a {
  background-color: #ffffff;
  padding: 9px 20px;
  border: 1px #d0d0d0 solid;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.1s;
  text-decoration: none;
  color: #000000;
  font-size: 1.3rem;
  margin: 0;
  line-height: 1;
}

.header__search div a:hover {
  background-color: #d0d0d0;
  color: #ffffff;
}

.header__cart {
}

.header__cart a {
  color: #171919;
  text-decoration: none;
  position: relative;
  display: block;
}

.header__cart i {
  opacity: 0.8;
}

.header__cart__itens {
  position: absolute;
  top: -8px;
  left: 50%;
  font-size: 1.5rem;
  color: #006400;
}

.header__cart__itens.no-cart {
  color: #cf3838;
}

@media screen and (max-width: 768px) {
  header {
    height: 12vh;
  }

  .header__content {
    flex-direction: column;
    align-items: center;
  }

  .header__logo {
    max-width: 150px;
    padding-bottom: 15px;
  }

  .header__search div input {
    max-width: 120px;
  }

  .header__search div a {
    font-size: 1.2rem;
  }
}
