@import "./reset.css";
@import "./header.css";
@import "./product.css";
@import "./cart.css";
@import "./search.css";

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 10px;
  color: #171919;
  background: #f0f0f0;
}

main {
  width: 95%;
  margin: auto;
  padding: 40px 0px;
}
