.search__message {
  max-width: 600px;
  width: 90%;
  text-align: center;
  margin: auto;
}

.search__message h2 {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

.search__message h2 span {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}
